
/*imported font*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/*imported font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

html, body {
  height: 100%;
  width: 100%;
  /*background: url(triangle-mosaic.png);*/
  background: linear-gradient(to right, whitesmoke, #d5d5d5);
}

/*style head h1 font*/
header h1 {
  font-family: 'Cinzel', serif;
  font-size: 43px;
  color: rgb(113, 116, 119);
  text-align: center;
  text-shadow: lightcyan 8px;
  text-decoration: underline;
}

/*style header h6 font*/
header, h5{
  font-family: 'Cinzel', serif;
  font-size: 1.3em;
  color: rgb(113, 116, 119);
  text-align: center;
  text-shadow: lightcyan;
  line-height: .2px;
  letter-spacing: 7px;
}

/*style main h3 font*/
main h3 {
  font-family: 'Cinzel', serif;
  color:  rgb(113, 116, 119);
}

/*No longer utilized,kept for possible changes
.group {
  display: flex;
  flex-direction: row;
}
*/

/*link bookmark style*/
.nav-spacing {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.nav-item {
  flex: 1;
  width: 100%;
}

article, hr {
  margin: 15px auto;
  width: 70%;
 }

p {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.profile-img {
  border-style: ridge;
  border-width: 3px;
  display: flex;
  flex: 2;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  background-color:beige;
  width: 90px;
  height: 100px;
}

/*heading and footer wrapper class*/
.wrapper {
  text-align: center;
	width: 95%;
	margin: auto;
  font-size: 1.5em;
  font-family: 'Noto Sans JP', sans-serif;
  /*background-color: rgba(17, 247, 247, 0.11)*/
  
}

img{
padding: 2px;
margin: auto;
background-color:beige;
width: 100%;
height: auto;
}

.images-section {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  width: auto;
}

.ul-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
  }

footer {
  margin-bottom: 20px;
}

.footerWrapper {
  font-size: 0.8em;
  text-align: center;
}

a
{
  text-decoration: none;
  color: rgb(138, 28, 28);
}

a:hover
{
  text-decoration: none;
  color: black;
  translate: ease in 1s;
}

.group-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 70%;
 margin: 0 14.77%;
}

.item-form {
  flex: 1;
  margin: 10px;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 100px;
}

legend {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/*desktop responsive style*/
@media all and (min-width: 700px) {
  .images-section {
    display: flex;
    flex-direction: row;
  }
   .nav-spacing {
    display: flex;
    flex-direction: row;
    margin: 0 15%;
  }
 
}

